.places {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.places h1 {
	margin: 0;
	font-size: 30px;
	flex: 0 1 100%;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}
